{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset='utf-8'>
    <title>LITReview</title>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style.css'%}">
</head>
<header>
    <h1 id="main-title">LITReview</h1>
    <div id="header-banner">
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "HomePage" %}class="selected"{% endif %}>
                    <a href="{% url "HomePage" %}">Page D'acceuil</a>
                </li>
                <li {% if section == "Feed" %}class="selected"{% endif %}>
                    <a href="#">Flux</a>
                </li>
                <li {% if section == "Posts" %}class="selected"{% endif %}>
                    <a href="#">Posts</a>
                </li>
                <li {% if section == "Subscriptions" %}class="selected"{% endif %}>
                    <a href="#">Abonnements</a>
                </li>
            </ul>
            {% else %}
                <a>Utilisateur non connecté</a>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Bonjour {{ request.user.first_name }},
                <a href="{% url "logout" %}">Se Déconnecter</a>
            {% endif %}
        </span>
    </div>
</header>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>


    
    