{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset='utf-8'>
    <title>LITReview</title>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style.css'%}?20181209">
    <!-- <link rel='stylesheet' type='text/css' media='screen' href="/static/css/style.css?{% now 'U' %}"> -->
</head>
<header>
    <h1 id="main-title">LITReview</h1>
    <span class="user">
        {% if request.user.is_authenticated %}
            <!-- Bonjour {{ request.user.username }} ! -->
            <!-- <a href="{% url "logout" %}">Se Déconnecter</a> -->
        {% endif %}
    </span>
    <div id="header-banner">
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <ul {% if section == "HomePage" %}class="selected"{% endif %}>
                    <a href="{% url 'HomePage' %}">Flux</a>
                </ul>
                <ul {% if section == "Posts" %}class="selected"{% endif %}>
                    <a href="{% url 'own_posts' %}">Posts</a>
                </ul>
                <ul {% if section == "Subscriptions" %}class="selected"{% endif %}>
                    <a href="{% url 'subscribers_page' %}">Abonnements</a>
                </ul>
                <ul {% if section == "Deconnexion" %}class="selected"{% endif %}>
                    <a href="{% url "logout" %}">Se Déconnecter</a>
                </ul>
            </ul>
            {% else %}
                <a>Utilisateur non connecté</a>
        {% endif %}
        
    </div>
</header>
<body>
    {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                {{ message|safe }}
                </li>
            {% endfor %}
            </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>


    
    