{% extends "Base.html" %}

{% block content %}

    <section id="BlockConnexion">
        <div>
            <h1>Inscrivez-vous maintenant</h1>
            <button>S'inscrire</button>
        </div>
    </section>
    <section id="BlockInscription">
        <div><h1>Connectez-vous</h1>
            <div>
                <p>
                    <label for="id_username_input"></label><br>
                    <input id="id_username_input" type="text" name="username_input" value="" 
                    placeholder="Nom d'utilisateur">
                </p>
                <p>
                    <label for="id_password_input"></label><br>
                    <input id="id_password_input" type="password" name="password_input" value="" 
                    placeholder="Mot de passe">
                </p>
                <button id="connect-button">Se connecter</button>
            </div>
        </div>
    </section>
    
{% endblock %}