{% extends "Base.html" %}

{% block content %}
    
    <h2>Reviews et Critiques personnelles</h2>
    <div>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                <div class="ticket">
                    <p>{{ post.title }}</p>
                    {% if post.user == request.user %}
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" name="ticket_to_remove" value="{{ post.id }}">Supprimer le ticket</button>
                            <!-- <button type="submit" name="ticket_to_modify" value="{{ post.id }}">Modifier le ticket</button> -->
                            <input type="hidden" name="current_ticket_id" value="{{ post.id }}" readonly/>
                        </form>
                    {% endif %}
                    <a href="{% url 'ticket_modification' ticket_id=post.id %}"><button>Modifier le Ticket</button></a>
                    <p>{{ post.description }}</p>
                    <p>Ticket posté par {{post.user.username}} le {{post.time_created}}</p>
                    <img src="{{ post.image.url }}">
                    <a href="{% url 'review_creation' ticket_id=post.id %}"><button>Demander une critique</button></a>
                </div>
            {% elif post.content_type == 'REVIEW' %}
                <div class="review">
                    <p>{{ post.headline }}</p>
                    {% if post.user == request.user %}
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" name="review_to_remove" value="{{ post.id }}">Supprimer la review</button>
                            <!-- <button type="submit" name="review_to_modify" value="{{ post.id }}">Modifier la review</button> -->
                            <input type="hidden" name="current_review_id" value="{{ post.id }}" readonly/>
                        </form>
                    {% endif %}
                    <a href="{% url 'review_modification' review_id=post.id %}"><button>Modifier la Review</button></a>
                    <p>{{ post.rating }}</p>
                    <p>{{ post.body }}</p>
                    <p>Review postée par {{post.user.username}} le {{post.time_created}}</p>
                    <div class="ticket">
                        <p>{{ post.ticket.title }}</p>
                        <p>{{ post.ticket.description }}</p>
                        <p>Ticket posté par {{post.ticket.user.username}} le {{post.ticket.time_created}}</p>
                        <img src="{{ post.ticket.image.url }}">
                    </div>
                </div>
            {% endif %}
            
            
        {% endfor %}
    </div>
{% endblock %}