{% extends "Base.html" %}

{% block content %}
    <h2>Profile</h2>
    <div id="main-homepage">
        <section id="critics-buttons">
            <div>
                <a href="{% url 'ticket_creation' %}"><button>Demander une critique</button></a>
                <a href="{% url 'review_and_ticket_creation' %}"><button>Créer une critique</button></a>
            </div>
        </section>
        <section id="rolling-feed">
            <h2>Tickets</h2>
            {% for post in posts %}
                {% if post.content_type == 'TICKET' %}
                    <div class="ticket">
                        <p>{{ post.title }}</p>
                        {% if post.user == request.user %}
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" name="ticket_to_remove" value="{{ post.id }}">Supprimer le ticket</button>
                                <button type="submit" name="ticket_to_modify" value="{{ post.id }}">Modifier le ticket</button>
                                <input type="hidden" name="current_ticket_id" value="{{ post.id }}" readonly/>
                            </form>
                        {% endif %}
                        <p>{{ post.description }}</p>
                        <p>Ticket posté par {{post.user.username}} le {{post.time_created}}</p>
                        <img src="{{ post.image.url }}">
                        <a href="{% url 'review_creation' ticket_id=post.id %}"><button>Demander une critique</button></a>
                    </div>
                {% elif post.content_type == 'REVIEW' %}
                    <div class="review">
                        <p>{{ post.headline }}</p>
                        <p>{{ post.rating }}</p>
                        <p>{{ post.body }}</p>
                        <div class="ticket">
                            <p>{{ post.ticket.title }}</p>
                            <p>{{ post.ticket.description }}</p>
                            <p>Ticket posté par {{post.ticket.user.username}} le {{post.ticket.time_created}}</p>
                            <img src="{{ post.ticket.image.url }}">
                        </div>
                    </div>
                {% endif %}
                
                
            {% endfor %}

        </section>
    </div>
    <div>
        <p>
            Username: {{ request.user.username }} <br>
            Name: {{ request.user.first_name }} {{ request.user.last_name}} <br>
            Date Joined: {{ request.user.date_joined }} <br>
            Email: {{ request.user.email }} <br>
            Last_login: {{ request.user.last_login }} <br>
        </p>
    </div>
{% endblock %}