{% extends "Base.html" %}

{% block content %}
    <div id="main-homepage">
        
        <section id="rolling-feed">
            <section >
                <div id="critics-buttons-wrapper">
                    <a id="critics-buttons" href="{% url 'ticket_creation' %}"><button id="critics-buttons2">Demander une critique</button></a>
                    <a id="critics-buttons" href="{% url 'review_and_ticket_creation' %}"><button id="critics-buttons2">Créer une critique</button></a>
                </div>
            </section>
            {% for post in posts %}
                {% if post.content_type == 'TICKET' %}
                    <div class="ticket">
                        <p>{{ post.title }}</p>
                        <p>{{ post.description }}</p>
                        <p>Ticket posté par {{post.user.username}} le {{post.time_created}}</p>
                        <img src="{{ post.image.url }}">
                        <a href="{% url 'review_creation' ticket_id=post.id %}"><button>Créer une critique</button></a>
                    </div>
                {% elif post.content_type == 'REVIEW' %}
                    <div class="review">
                        <p>Critique postée par {{post.user.username}}</p>
                        <p>{{ post.headline }} - {{ post.rating }} étoile(s)</p>
                        <p>{{ post.body }}</p>
                        <div class="ticket">
                            <p>{{ post.ticket.title }}</p>
                            <p>{{ post.ticket.description }}</p>
                            <p>Ticket posté par {{post.ticket.user.username}} le {{post.ticket.time_created}}</p>
                            <img src="{{ post.ticket.image.url }}">
                        </div>
                    </div>
                {% endif %}
                
                
            {% endfor %}

        </section>
    </div>
    <div>
        <p>
            Username: {{ request.user.username }} <br>
            Name: {{ request.user.first_name }} {{ request.user.last_name}} <br>
            Date Joined: {{ request.user.date_joined }} <br>
            Email: {{ request.user.email }} <br>
            Last_login: {{ request.user.last_login }} <br>
        </p>
    </div>
{% endblock %}