header {
    border:3px solid yellow;
    display:flex;
    justify-content: space-around;
}
section {
    border: 3px solid white;
    display: inline-flex;
    width: 49%;
    height: 50%;
    justify-content: center;
    align-content: center;
    position: relative;
}

#connect-button {
    display: inline-flex;
    justify-content: end;
    border: 3px solid blue;
}

#header-banner {
    display: inline-block;
    justify-items: space-between;
    border:3px solid green;
}

#main-title {
    display: inline-flex;
    justify-content: right;
}

.menu {
    /* display: inline-flex;  */
    justify-items: space-between;
    border:3px solid yellow;
}

#main-homepage {
    display:flex;
    justify-content: center;
    border: 5px solid red;
}