header {
    border:3px solid red;
    display:flex;
}
section {
    border: 3px solid white;
    display: inline-flex;
    width: 49%;
    height: 50%;
    justify-content: center;
    align-content: center;
    position: relative;
}

#connect-button {
    display: inline-flex;
    justify-content: end;
    border: 3px solid blue;
}

#header-banner {
    display: inline-flex;
    justify-content: center;
}

#main-title {
    display: inline-flex;
    justify-content: right;
}

.menu {
    display: inline-flex;
}